/*.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575cd;
    color: floralwhite;
}
.address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}



.btn-reserve{
    background-color: #ff9900;
}
.card-reserve{
    background-color: #ffd633;
}
*/
.navbar-dark{
    background-color: #512da8;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
@media (max-width:575px){
    .search{
        width: 220px;
        display: inline-block;
    }
    .search-bar{
        text-align: center;
        display: block;
        
    }
    .top-search{
        margin:0px;
       
    }
    
}
@media (min-width:576px) and (max-width:767px){
    .search{
        width: 170px;;
    }
}
@media (min-width:768px) and (max-width:991px){
    .search{
        width: 350px;;
    }
}
@media (min-width:992px){
    .search{
        width: 550px;;
    }
    
}
.carousel-manual{
    border: 1px;
    border-color: black;
    height: 300px;
    background-color: red;
}
/*.brand-navbar{
    margin-top: 40px;
}*/
.dropright:hover .dropdown-menu {
    display: block;
}
.menu-manual{
    width: 600px;
}
.account-menu{
    width: 200px;
}
.bottom-bar{
    text-align: center;
}
.bottom-bar-item{
    text-decoration: none;
    
}
.bottom-bar-link{
    text-decoration: none;
}