<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="../node_modules\font-awesome\css\font-awesome.min.css">
    <link rel="stylesheet" href="../node_modules\bootstrap-social\bootstrap-social.css">
    <title>home</title>
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-sm">
        <div class="container">
            <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav ml-auto">
                        <div class="dropdown">
                            <li class="nav-item"><a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#help-dropdown"><i class="fa fa-info-circle"></i> Help</a></li>
                            <div class="dropdown-menu" id="help-dropdown">
                                <a class="dropdown-item" href="#">Customer Service</a>
                                <a class="dropdown-item" href="#">Disputes & Reports</a>
                            </div>
                        
                        </div>
                        <li class="nav-item"><a href="" class="nav-link"><i></i> Buyer Protection</a></li>
                        <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-heart-o"></i> Wishlist</a></li>
                        <div class="dropdown">
                            <li class="nav-item"><a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#account-dropdown"><i class="fa fa-user-circle-o"></i> Account</a></li>
                            <div class="dropdown-menu" id="account-dropdown">
                                <div class="container dropdown-item">
                                    <ul class="nav navbar-nav">
                                        <li class="nav-item"><a href="" role="button" class="btn-primary btn">join</a></li>
                                        <li class="nav-item ml-2"><a href="" role="button" class="btn-dark btn">sign in</a></li>
                                    </ul>
                                </div>
                                <a href="" class="dropdown-item">Customer Orders</a>
                                <a href="" class="dropdown-item">Message Center</a>
                                <a href="" class="dropdown-item">Wish List</a>
                                <a href="" class="dropdown-item">My Favourite Stores</a>
                                <a href="" class="dropdown-item">My Coupons</a>


                            </div>
                        </div>
                        
                    </ul>
            </div>
            
        </div>
    </nav>
    <nav class="navbar navbar-dark navbar-expand-sm fixed">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="#" class="navbar-brand mr-auto">Amazon</a>
            <form action="" class="ml-5">
                    <input type="text" placeholder="Search here" class="search"><button type="submit" class=""><i class="fa fa-search"></i></button>
            </form>
            
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="nav navbar-nav">
                    <div class="dropdown">
                            <li class="nav-item d-none d-sm-block"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#dropdown-category">Categories</a></li>
                            <div class="dropdown-menu" id="dropdown-category">
                                <a class="dropdown-item" href="#"><i class="fa fa-video-camera"></i> Electronics</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-gamepad"></i> Toys</a>
                            </div>
                    </div>
                    <li class="nav-item d-block d-sm-none"><a href="#" class="nav-link"><i class="fa fa-video-camera"></i> Electronics</a></li>
                    <li class="nav-item d-block d-sm-none"><a href="#" class="nav-link"><i class="fa fa-gamepad"></i> Toys</a></li>
                    <li class="nav-item d-none d-sm-block"><a href="#" class="nav-link"><i class="fa fa-shopping-cart fa-lg"></i> Cart</a></li>
                    
                    
                    

                </ul>
            </div>
        </div>

    </nav>

    <script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="../node_modules\popper.js\dist\umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>